* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    padding-top: 20px;
    border: 1px solid black;
    max-width: 500px;
    margin-top: 10px;
    font-size: 30px;
    text-align: center;
}

ul,
ol,
menu {
    list-style: none;
}

.display {
    display: block;
}

.hide {
    display: none;
}